<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>delete</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Average+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="delete.css" />
  </head>
  <body>
    <div class="delete">
      <div class="are-you-sure">
      are you sure?
      </div>
      <div class="you-want-to-delete">
      You want to delete
      </div>
      <div class="container">
        <div class="frame-17">
          <span class="edit">
          No
          </span>
        </div>
        <div class="frame-16">
          <span class="edit-1">
          yes
          </span>
        </div>
      </div>
    </div>
  </body>
</html>