{% extends "base.html" %}
{% block content %}
<style>
  .base .home .home-4 a:hover, .base .home-1 .home-5 a:hover, .base .home-2 .home-6 a:hover, .base .home-3 .home-7 a:hover{
    color: #BB5A3A;
  }
  .base .home .home-4 a{
    color: #BB5A3A;
  }
  .base .home-1 .home-5 a{
    color: #BB5A3A;
  }
  .base .home-2 .home-6 a{
    color: #BB5A3A;
  }
  .base .home-3 .home-7 a{
    color: #BB5A3A;
  }
    .container-1 {
        margin: 0 2px 92.5px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 1438px;
        box-sizing: border-box;
      }
      .acf-2-c-39-f-511-b-6478-eaea-5-b-4-f-7713831-c-0-mv-21 {
        background: url('../assets/images/acf_2_c_39_f_511_b_6478_eaea_5_b_4_f_7713831_c_0_mv_21.png') 50% / cover no-repeat;
        margin-right: 28.1px;
        width: 281.9px;
        height: 376.8px;
      }
      .march-2220232-min-1 {
        margin-bottom: 14px;
        display: inline-block;
        align-self: flex-start;
        overflow-wrap: break-word;
        font-family: 'Average Sans';
        font-weight: 400;
        font-size: 10px;
        color: #858585;
      }
      .transform-your-winter-blues-into-winter-creativity-1 {
        margin: 0 17.7px 14px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 26px;
        text-transform: capitalize;
        color: #000000;
      }
      .create-ablog-post-subtitle-that-summarizes-your-post-in-afew-short-punchy-sentences-and-entices-your-audience-to-1 {
        overflow-wrap: break-word;
        font-family: 'Average Sans';
        font-weight: 400;
        font-size: 15px;
        text-transform: capitalize;
        color: #585858;
      }
      .component-11 {
        margin: 33px 0 119.8px 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 239px;
      }
      .post-1 {
        border: 1px solid #B6B6B6;
        margin: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-right: 30.2px;
        width: fit-content;
        box-sizing: border-box;
        height: 350px;
      }
      a{
        text-decoration: none;
      }
      h1{
        text-align: center;
        margin-top: 30px;
      }
</style>
<h1>Recent Post</h1>
<div class="container-1">
    {% for post in recent_post %}
        <a href="{% url "detail_page" post.pk %}">
        <div class="post-1">
            <div class="acf-2-c-39-f-511-b-6478-eaea-5-b-4-f-7713831-c-0-mv-21">
            </div>
            <div class="component-11">
            <div class="march-2220232-min-1">
            {{post.post_date}}
            </div>
            <div class="transform-your-winter-blues-into-winter-creativity-1">
            {{post.title}}
            </div>
            <span class="create-ablog-post-subtitle-that-summarizes-your-post-in-afew-short-punchy-sentences-and-entices-your-audience-to-1">
            {{post.snippet}}
            </span>
            </div>
        </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}